<!doctype html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>description</title>
    <link rel="stylesheet" href="../css/common.css">
    <style type="text/css">
    .content_wrapper {width: 100%; font-size: 16px;}
    .content_text {width: 800px; margin: auto;}
    .content_text h1 {font-size: 2em; font-weight: 900;}
    .content_text h2 {font-size: 1.7em; font-weight: 700;}
    .content_text h3 {font-size: 1.4em; font-weight: 600;}
    .content_text h1,h2,h3 {line-height: 2em; margin: 0.7em 0.1em;}
    .content_text p {line-height: 1.5em; margin-top: 1em;} 
    .content_text ol {margin-top: .5em; margin-left: 0;}
    .content_text li {list-style: decimal; margin-left: 1.5em; font-size: 0.95em;}
    @media screen and (max-width: 800px) {
        .content_text {width: 90%; margin: 0 1em;}
    }
    </style>
</head>

<body>
    <div class="content_wrapper">
        <div class="content_text">
            <h1>Metpredictor</h1>
            <p>A Metabolic network software based on gene expression and meabolic network modeling。</p>
            <h2>Inspiration</h2>
            <p>Since we’ve been doing the similar projects with even same names, we want to have a change this year. Not only
                doing same things is quite boring, but we wish to do something that is really in need. After visited a synthetic
                biologist in our school, chatted a lot, we came up with an idea. Our professor mention that a software can help
                him a lot is one can tell him what changes will happen to the various ingredients after he changes the metabolic
                pathway, especially the coenzymes. Considering it’s absolute more interesting than making a search engine, we
                set our project as it.</p>
            <p>Generally, our project focuses on the proportion of the coenzymes after adjusting the metabolic pathway. Giving
                the variation range of the concentration of the coenzymes will greatly lessen the pressure of synthetic
                biologists while doing experiments and reduce the time or money cost of many trials.</p>
            <h2>Project</h2>
            <h3>Method</h3>
            <p>This is method description.Generally, our project focuses on the proportion of the coenzymes after adjusting the
                metabolic pathway. Giving the variation range of the concentration of the coenzymes will greatly lessen the
                pressure of synthetic biologists while doing experiments and reduce the time or money cost of many trials.</p>
            <h3>Function</h3>
            <p>Since we’ve been doing the similar projects with even same names, we want to have a change this year. Not only
                doing same things is quite boring, but we wish to do something that is really in need. After visited a synthetic
                biologist in our school, chatted a lot, we came up with an idea. Our professor mention that a software can help
                him a lot is one can tell him what changes will happen to the various ingredients after he changes the metabolic
                pathway, especially the coenzymes. Considering it’s absolute more interesting than making a search engine, we
                set our project as it.</p>
            <ol start=''>
                <li>By analyzing and modeling the gene expression and metabolic network, our software can get the range of the
                    concentration or proportion of the intermediate reactant after changing or adjusting a metabolic pathway.
                </li>
                <li>Compared with other metabolic prediction software, we more consider whether the concentration of coenzymes,
                    for example NADH/NAD+ is in the best range.</li>
                <li>Even included some data visualization work so that it’s convenient for the experimenter to analyze the
                    bacteria and optimize the experimental design.</li>
                <li>Recognizing the database of metabolic network or packages of the prediction tools are still not robust or
                    complete for us to use, we first do several work of database integrations.</li>
                <li>To make our software more usable, we design a set of algorithms, creating a recommendation system.</li>
                <li>We managed to create a platform where the synthetic biologist can easily share their ideas and issue their
                    results.</li>
            </ol>
        </div>
    </div>

    
</body>

</html>