/*the passage style*/
.page-content > .card-body {
    font-size: 16px;
    padding: 2em;
}
/* the passage title style */
.page-content > .card-body h1{
    line-height: 3em;
    text-align: center;
}
/*the article title style*/
.page-content > .card-body h3{
    line-height: 3em;
}
/*the article 2nd title style*/
.page-content > .card-body h4{
    line-height: 2em;
}