@font-face {
    font-family: ubuntu;
    src: url("../../File/T--USTC-Software--ubuntu.woff");
}
@font-face {
    font-family: alegreya;
    src: url("../../File/T--USTC-Software--alegreya.woff");
}
@font-face {
    font-family: amaranth;
    src: url("../../File/T--USTC-Software--amaranth.woff");
}
/*the article style*/
.page-content > .card-body {
    font-size: 18px;
    padding: 3em;
    font-family: ubuntu, serif  !important;
}
/* the article title style */
.page-content > .card-body h1{
    line-height: 3em;
    text-align: center;
    margin: 0 !important;
    font-family: alegreya, serif !important;
    font-weight: bold;
}
/*the article title style*/
.page-content > .card-body h3{
    line-height: 3em;
    margin: 0 !important;
    font-family: alegreya, serif !important;
    font-weight: bold;
}
/*the article 2nd title style*/
.page-content > .card-body h4{
    line-height: 3em;
    margin: 0 !important;
    font-family: alegreya, serif !important;
    font-weight: bold;
}
/*the article passage style*/
.page-content > .card-body .passage{
    line-height: 1.5em;
    color: #575246;
    font-family: ubuntu, serif !important;
    /*word-break: break-all;*/
    text-align: justify;
}
/*the psgImg container style*/
.page-content > .card-body .psgImg {
    margin: 1em;
    text-align: center !important;
}
/*the img in the article style*/
.page-content > .card-body .psgImg img{
    max-height: 380px;
    max-width: 760px;
    margin: 1em;
}
.page-content > .card-body .psgImg p{
    max-width: 760px;
    margin: 0 auto;
    /*word-wrap: break-spaces;*/
    text-align: justify-all;
}

/*the reference title style*/
.page-content > .card-body h2.ref {
    line-height: 3em;
    text-align: center;
    margin: 0 !important;
    font-family: alegreya, serif !important;
    font-weight: bold;
}
/*the reference list style*/
.page-content > .card-body .ref-list ul{
    font-style: italic;
    color: #403f3c;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*the table style*/
.page-content > .card-body .table_show {
    width: 90%;
    margin: 1em auto;

}
.page-content > .card-body .table_show td,
.page-content > .card-body .table_show th{
    vertical-align: middle;
}